.jumbotron{
    text-align: center;
    font-family: 'Arvo', serif;
    background:URL("https://cdn.vox-cdn.com/uploads/chorus_asset/file/10675355/The_Verge_Cubeometry_Wallpaper_Landscape.0.png");
    color:white
}